@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* :root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
} */

*{
    margin:0;
    padding:0;
}
.header{
    min-height: 100px;
    width: 100%;
    background-image: url("450091.jpg");
    /* background-image: url("globe.jpg"); */
    /* background: width 200px; */
    background-color: rgb(54, 53, 53);
    /* background-color: rgb(24, 5, 73); */
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7),url("globe.jpg")); */
    padding: 1px ;
    background-position: center; 
    background-size: cover;
    position: relative; 
} 
.header .logo{
    height : 100px;
    position: center;
    padding-bottom: 5px;
    /* background:white; */
}
.header .logo .img{
    position: center;   
}
nav{
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px; 
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
   color: rgb(249, 244, 244);
   text-decoration: none;
   font-size:13 px;
   font-style: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition:0.5s;
 }
 .nav-links ul li:hover::after{
    width: 80%;
 }
 .nav-links ul li .btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid red;
    padding: 12px 34px;
    font-size: 13px;
    background:  red;
    position: relative;
    cursor: pointer;
 }
 .nav-links ul li .btn:hover{
    border: 1px solid black;
    background: black;
    transition: 1s;
 }
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid red;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
   display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        /* background: rgb(61, 229, 226); */
        background:rgb(17, 6, 13);
        font-size:larger;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        /* color: black; */
        color:white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.heading{
    background-size: cover ;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.heading h1{
    font-size: 5rem;
    text-transform: uppercase;
    color:white;
    /* text-shadow: var(--text-shadow); */
    text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    padding:5rem;
 }
 .about .row{
    display:flex;
 }
 .about .column{
    flex: 50%;
    padding: 5px;
    padding-bottom: 0px;
    /* background-color:#717171; */
 }
 .about .image{
    flex:1 1 41rem;
 }
 
 .about .image img{
    width: 100%;
 }
 
 .about .content{
    flex:1 1 41rem;
    text-align: center;
 }
 
 .about .content h3{
    font-size: 2rem;
    color:#222;
 }
 
 .about .content p{
   font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color:#777;
    line-height: 2;
    padding:1rem 0;
 }
 
 .about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    /* flex-wrap:wrap; */
    gap:1.5rem;
    align-items:flex-end;
 }
 
 .about .content .icons-container .icons{
    background: #eee;
    padding:2rem;
    flex:1 1 16rem;
 }
 
 .about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color:#8e44ad;
 }
 
 .about .content .icons-container .icons span{
    font-size: 1.5rem;
    color:#777;
    display:block;
 }
 
 /* .reviews{
   background: #eee;
}
.reviews .heading-title{
   font-family: 'Poppins', sans-serif;
   text-align:center;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   font-size:100px;
   text-transform:capitalize;
}
.reviews .slide{
   padding:2rem;
   border:.1rem solid #222;
   margin:0; padding:0; 
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none; 
   background: #fff;
   text-align: center;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   user-select: none;
}

.reviews .slide .stars{
   padding-bottom: .5rem;
}

.reviews .slide .stars i{
   font-size: 1.7rem;
   color:#8e44ad;
}

.reviews .slide p{
   font-size: 1.5rem;
   color:#777;
   line-height: 2;
   padding:1rem 0;
}

.reviews .slide h3{
   font-size: 2rem;
   color:#222;
}

.reviews .slide span{
   font-size: 1.5rem;
   color:#8e44ad;
   display: block;
}

.reviews .slide img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   margin-top: 1rem;
} */
*{
margin:0px;
padding:0px;
/* font-family:poppins; */
box-sizing:border-box;
}
a{
   text-decoration:none;
}
#reviews{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   width:100%;
}
.reviews-heading{
   letter-spacing:1px;
   margin:30px 0px;
   padding:10px 20px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
}
.reviews-heading h1{
   font-size:2.2rem;
   font-weight:500;
   background-color:#202020;
   color:#ffffff;
   padding:10px 20px;
}
.reviews-heading span{
   font-size:1.3rem;
    color:#252525;
   margin-bottom:10px;
   letter-spacing:2px;
    text-transform:uppercase;
}
.reviews-box-container{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   width:100%;
   padding-bottom:30px;
}
.reviews-box{
   width:500px;
   box-shadow:2px 2px 30px rgba(0,0,0,0.1);
   background-color:#ffffff;
   padding:20px;
   margin:15px;
   cursor:pointer;
}
.profile-img{
   width:50px;
   height:50px;
   border-radius:50%;
   overflow:hidden;
   margin-right:10px;
}
.profile-img img{
   width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}
.profile{
   display:flex;
   align-items:center;
}
.name-user{
   display:flex;
   flex-direction:column;
}
.name-user strong{
    color:#3d3d3d;
   font-size:1.1rem;
   letter-spacing:0.5px;
}
.name-user span{
   color:#979797;
   font-size:0.8rem;
}
.review-comment{
   color:#f9d71c;
}
.box-top{
   display:flex;
   justify-content:space-between;
   align-items:center;
   margin-bottom:20px;
}
.client-commentp{
   font-size:0.9rem;
   color:#4b4b4b;
}
.reviews-box:hover{
   transform:translateY(-20px);
   transition:all ease 0.3s;
}
@media(max-width:1060px){
   .review-box{
       width:45%;
       padding:10px;
   }
}
@media(max-width:790px){
   .review-box{
       width:100%;
   }
   .review-heading h1{
       font-size:1.4rem;
   }
}
@media(max-width:340px){
   .box-top{
       flex-wrap:wrap;
       margin-bottom:10px;
  }
   .reviews-comments{
       margin-top:10px;
   }
}  
::selection{
   color:#ffffff;
   background-color:#252525;
}
                    

.footer{
   /* background: url(mountain_footer.jpg) no-repeat; */
   background-size: cover;
   background-position: center;
}
.footer #demoA {
   display: grid;
   width: 100%;
   height: 50px;
 }
.footer #demoA > * {
   grid-column: 1 / 1;
   grid-row: 1 / 1;
 }
 /* (B) CONTENTS ON TOP */
.footer #demoATop {
   z-index: 2;
   padding: 10px;
 }
 
 /* (C) BACKGROUND BELOW */
.footer  #demoABack {
   z-index: 1;
   background-image:linear-gradient(rgba(9, 1, 14, 0.6), rgba(14, 1, 1, 0.6)), url(dark_footer.jpg);
   /* opacity is 0.6 */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 
 /* (D) FADE ON MOUSE HOVER */
.footer #demoA:hover #demoABack {
   background-image:linear-gradient(rgba(9, 1, 14, 0.8), rgba(14, 1, 1, 0.8)), url(dark_footer.jpg);
   /* opacity is 0.8 */
 }

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:rgb(163, 71, 135);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:white;
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:rgb(163, 71, 135);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 1rem;
   margin-top: 1rem;
   padding-bottom: 2rem;
   border-top: .05rem solid white;
   font-size: 2rem;
   color:white;
}
.footer .credit span{
   color:rgb(163, 71, 135);
}




/* media queries  */

/* @media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }

} */